.loop-wrap {
    display: flex;
    align-items: center;
    margin-left: 3.5rem; /* Equivalent to ml-14 in Tailwind */
}

.loop-wrap span {
    white-space: nowrap;
}

.loop-text-container {
    position: relative;
    width: 150px;
    display: inline-block;
}

.loop-text {
    font-weight: 600;
    position: absolute;
    left: 0;
    top: -9px; /* Moves text up slightly */
    transform: translateY(-10%);
}
