services:
    nextjs:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: nextjs-app
        ports:
            - '3009:3000'
        environment:
            - NODE_ENV=${NODE_ENV:-production}
            - PORT=${PORT:-3000}
            - HOSTNAME=${HOSTNAME:-0.0.0.0}
            - DATABASE_URL=${DATABASE_URL:?DATABASE_URL is required}
        # depends_on:
        #     - postgres
        restart: unless-stopped

    postgres:
        image: postgres:16
        container_name: postgres-db
        environment:
            - POSTGRES_USER=${POSTGRES_USER:?POSTGRES_USER is required}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?POSTGRES_PASSWORD is required}
            - POSTGRES_DB=${POSTGRES_DB:-bwhite_dev}
        ports:
            - '5432:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
        restart: unless-stopped

    # pgadmin:
    #     image: dpage/pgadmin4
    #     container_name: pgadmin
    #     environment:
    #         - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
    #         - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    #     ports:
    #         - '8080:80'
    #     depends_on:
    #         - postgres
    #     restart: unless-stopped
volumes:
    postgres_data:
