@import 'tailwindcss';

/* Default Dark Theme */
:root {
    --background: #000000;
    --foreground: #ffffff;
    --font-sans: 'GeistSans', sans-serif;
    --font-mono: 'GeistMono', monospace;
    --accent-color: rgb(36, 36, 36);
    --theme-bg-gradient: linear-gradient(135deg, #2c2c2c, #252525, #1e1e1e, #171717, #101010);
}

/* Light Theme */
[data-theme='light'] {
    --background: #ffffff;
    --foreground: #171717;
    --accent-color: rgb(223, 223, 223);
    --theme-bg-gradient: linear-gradient(135deg, #defcfe, #f3e5ff, #f7d6d6, #ffd7b1, #f3d59e);
}

/* Custom Body Styles */
body {
    color: var(--foreground);
    background: var(--theme-bg-gradient);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
    transition:
        background 0.3s ease,
        color 0.3s ease;
}

.accent-color {
    color: var(--accent-color);
}

/* @custom-variant dark (&:is(.dark *)); */
